# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Text Summarization/*
!/Simple Text Summarization/task/
/Simple Text Summarization/task/*
!/Simple Text Summarization/task/textsum
!/Simple Text Summarization/task/news.xml
